# Ignore les vidéos originales (trop lourdes pour GitHub)
assets/klassiker.mp4
assets/librairie.mp4
assets/cabinup.mp4
assets/TaskTracker.mp4
assets/gusto.mp4

# Node modules
node_modules/

# Vite cache
dist/

# gh-pages cache
node_modules/.cache/

